doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		link(rel='stylesheet', href='css/style.css')
		script(type='text/javascript', src='js/main.js')

		title Лабораторная Работа 1
	body
			block header
			block content
			.footer
				.wrapper
					p &copy; Сергей Лущик